
<% if user_signed_in? %>
<table class="table table-striped table-bordered table-hover"> 
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Twitter</th>
      <th>User ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
      <tr>
        <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %>
        </td>
        <td><%= friend.email %></td>
        <td><%= friend.twitter %></td>
        <td><%= friend.user_id %></td>
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

 <button class="btn btn-success"><%= link_to 'New Friend', new_friend_path %></button>
 <%else%>
 <h1>Hello Nguyen Linh Nga</h1>
<div class="container">
    <p class="text-success">Welcome Friend App Demo,haha</p>
    <p class="text-capitalize">Để tìm được câu hỏi trước tiên, bạn Sign Up với 1  tài khoản và mật khẩu giả lập. Sau đó Sign In vào webapp.</p>
    <p class="text-primary font-weight-bold font-italic">Chúc bạn trải nghiệm thú vị và có những phút giây vui vẻ <333333</p>
</div>
<% end %>