<h1> Nhập thông tin sinh viên </h1>
<%= form_for @student do |f| %>
     <label>   First name </label>
     <%= f.text_field :firstname %>
     <label>   Last name </label>
     <%= f.text_field :lastname %>
     <%= f.submit "Submit", disable_with: 'Submiting...'%>

    
<% end %>
<br />
<h1> Hiển thị thông tin sinh viên </h1>
<%if !@students.blank? %>
 <% for item in @students%>
    <%=  item.firstname %> <%=  item.lastname %> <br />
    <% end %>
<% else %>
<% end %>